@import "src/style/index";
.battle-card {
  padding: 25px;
  width: 100%;
  height: 360px;
  border: 1px solid rgba(143, 154, 157, 0.2);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: $white;
  white-space: nowrap;


  &_status-live {
    border: 1px solid $primary-color;
    background-image: url("/images/logo-star-status-live.png");
  }

  &_status-upcoming {
    background-image: url("/images/logo-star-status-upcoming.png");
  }

  &_status-finished {
    background-image: url("/images/logo-star-status-finished.png");
  }

  &__tournament-name {
    white-space: nowrap;
  }

  &__top-container {
    display: flex;
    width: 100%;
  }

  &__watch-time-container {
    margin-left: auto;
  }

  &__tournament-time {
    &_finished {
      color: $second-color;
    }
  }

  &__match-link {
    &:hover {
      transform: scale(1.2);
    }
    display: block;
    margin-top: 45px;
    color: $white;
  }

  &__logos-container {
    &_live {
      margin-top: 100px;
    }

    &_upcoming {
      margin-top: 108px;
    }

  }

  &__discipline-icon {

  }

  &__groups-container {
    margin-top: 15px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__groups {
    display: flex;
    flex-direction: column;
  }

  &__group-name {
    &:not(:first-child) {
      margin-top: 5px;
    }
  }

  &__match-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F0F0F0;
    width: 105px;
    height: 40px;
    font-family: Roboto;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $darkGrey;
  }

  &__bottom-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__icon-winner{
    margin-right: 10px;
  }

}
