.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  color: #FFFFFF;
  @media (max-width: 1000px) {
    font-size: 48px;
    line-height: 60px;
  }
}

.h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #282830;
  text-align: center;
}

.h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #282830;
}

.caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.01em;
  @media (max-width: 745px) {
    font-size: 12px;
    line-height: 20px;

  }
}

.button-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  /* white */
  color: #FFFFFF;
}

.caption-accent {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* white */
  color: #FFFFFF;
}
